* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: sans-serif;
   color: white;
}

#container {
   background: url("./img/background.jpg");
   padding-bottom: 150px;
}

#logo-netflix {
   height: 60px;
}

#botao-entrar {
   background: #e50914;
   font-size: 20px;
   padding-top: 10px;
   padding-bottom: 10px;
   padding-right: 20px;
   padding-left: 20px;
   border: 0;
   border-radius: 9px;
   float: right;
   cursor: pointer;
}

#cabecalho {
   padding: 20px 60px;
}

h1 {
   text-align: center;
   font-size: 60px;
   width: 700px;
   margin-left: auto;
   margin-right: auto;
   margin-top: 100px;
}

#paragrafo-assista {
   font-size: 30px;
   text-align: center;
   margin-top: 15px;
}

#paragrafo-pronto {
   font-size: 26px;
   text-align: center;
   margin-top: 20px;
}

input {
   width: 800px;
   padding-left: 15px;
   font-size: 30px;
}

#botao-email {
   width: 250px;
   background-color: #e50914;
   border: 0;
   font-size: 30px;
}

#formulario {
   display: flex;
   justify-content: center;
   margin-top: 30px;
   height: 80px;
}

#rodape {
   background-color: black;
   border-top: 20px solid #303030;
   padding: 70px 0;
}

h2 {
   font-size: 50px;
   text-align: center;
}

#botao-pergunta {
   width: 800px;
   background-color: #303030;
   height: 70px;
   border: 0;
   font-size: 30px;
   margin-top: 40px;
   text-align: left;
   padding: 0 25px;
   margin-left: auto;
   margin-right: auto;
   display: block;
}

#image-x {
   float: right;
   margin-top: 10px;
   height: 25px;
   width: 25px;
   cursor: pointer;
}

#pergunta {
   width: 800px;
   background-color: #303030;
   margin-right: auto;
   margin-left: auto;
   margin-top: 6px;
   padding: 20px;
}

.paragrafo-pergunta {
   font-size: 30px;
   color:blue;
}
